html,
body {
  height: 100%
}

body {
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111;
}

.btn:focus,
button:focus,
a:focus {
  outline: thin dotted;
  outline-offset: 0;
}

#view {
  flex: 1;
  overflow: auto;
}

/*AUDIO PLAYER*/

.audioplayer {
  height: 32px;
  width: 100%;
  background: rgb(250, 250, 250);
  z-index: 1000;
}

.podcasttitle {
  text-align: center;
  float: left;
  color: #000;
  width: 60%;
  padding: 6px;
  font-family: Roboto, sans-serif;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#audio {
  float: right;
  display: block;
  width: 40%;
}

h1 {
  margin: 0;
  padding: 10px;
  font-family: Work Sans, sans-serif;
  color: rgb(75, 130, 130);
  background-color: #333;
}

h2 {
  margin: 0;
  padding: 5px 10px;
  font-family: Work Sans, sans-serif;
  color: #f7f;
  background-color: #222;
}

.stations,
.playlists,
.podcasts {
  display:flex;
  flex-wrap: wrap;
}
