/*BODY*/

html,
body {
  height: 100%
}

body {
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #444;
}

/*VIEWS*/

#view {
  flex: 1;
  overflow: auto;
}

.views {
  text-align: center;
}

/*AUDIO PLAYER*/

.audioplayer {
  height: 32px;
  width: 100%;
  background: #333;
  z-index: 1000;
}

.podcasttitle {
  text-align: center;
  float:left;
  color: white;
  width: 60%;
  padding: 6px;
  font-weight: 100;
  font-family: Roboto, sans-serif;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#audio {
  float: right;
  display: block;
  width: 40%;
}

h1 {
  font-family: Work Sans, sans-serif;
  margin: 10px 0 10px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
