<div class="profile-page">
  <h1>{{user.username}}'s Playlists</h1>
  <div class="user-playlists">
    <div class="create-playlist">
      <input type="text" class="form-control" placeholder="New Playlist Name..." ng-model="playlist.title">
      <button ng-click="createPlaylist()">Create Playlist</button>
    </div>
    <div class="playlists">
      <playlist-tile ng-repeat="playlist in userPlaylists.playlists" playlist="playlist" />
    </div>
  </div>
  <h1>Favorites</h1>
  <h2>Podcasts</h2>
  <div class="podcasts">
    <podcast-tile ng-repeat="podcast in favorite.podcasts | limitTo: 50" podcast="podcast" />
  </div>
  <h2>Stations</h2>
  <div class="stations">
    <station-tile ng-repeat="station in favorite.stations | limitTo: 50" station="station" />
  </div>
  <h2>Playlists</h2>
  <div class="playlists">
    <playlist-tile ng-repeat="playlist in favorite.playlists | limitTo: 50" playlist="playlist" />
  </div>
</div>
