<div class="profile-page">
  <h1>{{user.username}}'s Playlists</h1>
  <div class="user-playlists">
    <div class="create-playlist">
        <input type="text" class="form-control" placeholder="New Playlist Name..." ng-model="playlist.title">
        <button ng-click="createPlaylist()">Create Playlist</button>
    </div>
    <div class="playlists">
      <div class="info-tile" ng-repeat="playlist in UserPlaylist.usersPlaylist">
        <div class="image">
          <div class="actions">
          <span class="action">
            <i class="glyphicon glyphicon-heart favorite"></i>
          </span>
          <span class="spacer"></span>
          <span class="action delete" ng-click="deletePlaylist($index, UserPlaylist.usersPlaylist[$index]._id)">
            <i class="glyphicon glyphicon-minus"></i>
          </span>
          </div>
        </div>
        <div class="title" ng-click="playlistDetail(playlist)">{{playlist.title}}</div>
      </div>
    </div>
  </div>
  <h1>Favorites</h1>
</div>
