.profile-page .user-playlists .create-playlist {
  display: flex;
  background: #444;
}

.profile-page .user-playlists .create-playlist input[type=text] {
  margin: 5px;
  color: white;
  background: transparent;
  border-radius: 25px;
  border: 2px solid white;
}

.profile-page .user-playlists .create-playlist button {
  margin: 5px;
  padding: 0 6px;
  min-width: 125px;
  color: #f7f;
  background: transparent;
  border-radius: 25px;
  border: 2px solid #f7f;
  transition-property:background,color;
  transition-duration:.2s;
}

.profile-page .user-playlists .create-playlist button:hover {
  cursor:pointer;
  color:#555;
  background:#f7f;
  transition-property:background,color;
  transition-duration:.2s;
}

.profile-page .no-results {
  font-size: 24px;
  padding: 15px;
  text-align: center;
  color: rgb(200, 200, 250);
}

.profile-page .no-results .favorite {
  color: #f7f;
}
