.home-page .stations,
.home-page .playlists,
.home-page .podcasts {
  display:flex;
  flex-wrap: wrap;
}

.home-page .playlists .info-tile .image {
  background-image: url('/assets/images/bars.jpg');
}

.home-page .playlists .info-tile .bars {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.home-page .playlists .info-tile .title {
  cursor: pointer;
}
