<div class="home-page">
  <h1>Popular</h1>
  <h2>Podcasts</h2>
  <div class="podcasts">
    <podcast-tile ng-repeat="podcast in _.map(popular.podcasts, 'podcast') | limitTo: 24" podcast="podcast" />
  </div>
  <h2>Stations</h2>
  <div class="stations">
    <div class="info-tile" ng-repeat="station in _.map(popular.stations, 'station') | limitTo: 24">
      <div class="image" ng-style="{'background-image':'url({{station.image}})'}">
        <div class="actions">
          <span class="action">
            <i class="glyphicon glyphicon-heart favorite"></i>
          </span>
        </div>
      </div>
      <div class="title" ng-click="stationDetail(station)">{{station.title}}</div>
      <div class="description"
           ng-bind-html="station.description.short || station.description.long"></div>
    </div>
  </div>
  <h2>Playlists</h2>
  <div class="playlists">
    <div class="info-tile" ng-repeat="playlist in _.map(popular.playlists, 'playlist') | limitTo: 24">
      <div class="image">
        <div class="actions">
          <span class="action">
            <i class="glyphicon glyphicon-heart favorite"></i>
          </span>
        </div>
      </div>
      <div class="title" ng-click="playlistDetail(playlist)">{{playlist.title}}</div>
    </div>
  </div>
</div>
