<div class="home">
  <h1>Podcasts</h1>
  <div class="podcasts">
    <div class="info-tile" ng-repeat="podcast in podcasts | limitTo: 24">
      <div class="image" ng-style="{'background-image':'url({{podcast.image}})'}">
        <div class="actions">
          <span class="action" ng-click="play(podcast)">
            <i class="glyphicon glyphicon-play play"></i>
          </span>
          <span class="spacer"></span>
          <span class="action">
            <i class="glyphicon glyphicon-plus add"></i>
          </span>
          <span class="action">
            <i class="glyphicon glyphicon-heart favorite"></i>
          </span>
        </div>
      </div>
      <div class="title">{{podcast.title}}</div>
      <div class="description" ng-bind-html="podcast.description"></div>
    </div>
  </div>
  <h1>Stations</h1>
  <div class="stations">
    <div class="info-tile" ng-repeat="station in stations | limitTo: 24">
      <div class="image" ng-style="{'background-image':'url({{station.image}})'}">
        <div class="actions">
          <span class="action">
            <i class="glyphicon glyphicon-heart favorite"></i>
          </span>
        </div>
      </div>
      <div class="title" ng-click="stationDetail(station)">{{station.title}}</div>
      <div class="description" ng-bind-html="station.description.short || station.description.long"></div>
    </div>
  </div>
  <h1>Playlists</h1>
  <div class="playlists">
    <div class="info-tile" ng-repeat="playlist in playlists | limitTo: 24">
      <div class="image">
        <div class="actions">
          <span class="action">
            <i class="glyphicon glyphicon-heart favorite"></i>
          </span>
        </div>
      </div>
      <div class="title" ng-click="playlistDetail(playlist)">{{playlist.title}}</div>
    </div>
  </div>
</div>
