.station-details-page .podcasts,
.stations-page .stations {
  display:flex;
  flex-wrap: wrap;
}

.stations-page .stations .info-tile .title {
  cursor: pointer;
}

.stations-page .stations .info-tile .title:hover {
  background: #333;
  color: #cc1acc;
}
