<div class="stations-page">
  <h1>Stations</h1>
  <div class="stations">
    <div class="info-tile" ng-repeat="station in stations.stations">
      <div class="image" ng-style="{'background-image':'url({{station.image}})'}">
        <div class="actions">
          <span class="action">
            <i class="glyphicon glyphicon-heart favorite"></i>
          </span>
        </div>
      </div>
      <div class="title" ng-click="stationDetail(station)">{{station.title}}</div>
      <div class="description" ng-bind-html="station.description.short || station.description.long"></div>
    </div>
  </div>
</div>
