.auth {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/assets/images/auth-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up,
.sign-in {
  min-width: 360px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 3px 3px 5px  #333;
}

.sign-up h1,
.sign-in h1 {
  margin: 0;
  padding: 10px 20px;
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 48px;
  font-weight: lighter;
  color: white;
  background-color: rgba(35, 75, 75, 0.80);
}

.input-row {
  margin: 0 auto;
  padding: 20px;
}
